name: Integration
on:
    pull_request:
        paths:
            - '**.ts'
            - '**.js'
            - 'yarn.lock'
            - '.github/workflows/ci.yml'
jobs:
    formatting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: setup nodejs
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x
            - run: npm install -g yarn
            - run: yarn install
            - run: yarn lint

    test:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
                node-version: [12.x, 14.x]
        steps:
            - uses: actions/checkout@v2
            - name: setup nodejs
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install -g yarn
            - run: yarn install
            - run: yarn unitTest
